body {
  font-family: cursive;
}

.bg-section {
  background-color: #f6f9fe;
}

.title-bg {
  background-color: #cbf7e0;
}

/* Start Navbar*/
.navbar .logo {
  -webkit-clip-path: polygon(13% 0, 91% 0, 100% 100%, 0% 100%);
          clip-path: polygon(13% 0, 91% 0, 100% 100%, 0% 100%);
  max-width: 120px;
  height: 35px;
  cursor: pointer;
}

@media (max-width: 576px) {
  .navbar .logo {
    display: none !important;
  }
}
.navbar-light .navbar-nav .nav-link {
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link:hover {
  color: #056438;
}
.navbar-light .navbar-nav .nav-link.active::before, .navbar-light .navbar-nav .nav-link:hover::before {
  width: 100%;
}
.navbar-light .navbar-nav .nav-link:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 3px;
  background-color: #ff0000;
  -webkit-transition: inherit;
  transition: inherit;
}
.navbar-light .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* End Navbar*/
#header {
  height: 75vh;
  background: url(../img/header.jpg);
}
#header::before {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  inset: 0;
}

.icon-container {
  width: 70px;
  height: 70px;
}

.progress-bar {
  width: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.counter-section .icon {
  width: 50px;
  height: 50px;
  outline: 8px solid #cbf7e0;
}

.icon-box {
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.icon-box::before {
  content: "";
  position: absolute;
  background-color: #056438;
  inset: 0;
  top: 100%;
}
.icon-box > * {
  position: relative !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.icon-box:hover > * {
  color: #fff !important;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.icon-box:hover::before {
  top: 0;
}

.slider-section {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 1, 2, 0.6)), to(rgba(4, 9, 30, 0.7))), url(../img/testimonials-bg.jpg);
  background-image: linear-gradient(rgba(0, 1, 2, 0.6), rgba(4, 9, 30, 0.7)), url(../img/testimonials-bg.jpg);
  background-size: cover;
  background-position: center;
}
.slider-section .carousel {
  height: 400px;
}
.slider-section .carousel .carousel-item img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  top: 60px;
}

.list-group-item {
  cursor: pointer;
}

.filterd-images > a {
  width: 300px;
}
.filterd-images > a.active {
  display: block;
  -webkit-animation: 0.5s ease-in-out displaying;
          animation: 0.5s ease-in-out displaying;
}
.filterd-images > a.hidden {
  display: none;
}
.filterd-images > a > img {
  -o-object-fit: cover;
     object-fit: cover;
}

@-webkit-keyframes displaying {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes displaying {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.contact-icon {
  border: 1px dashed #056438;
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer li {
  position: relative;
  padding-left: 20px;
}
.footer li::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  border-width: 6px;
  border-color: transparent transparent transparent #056438;
  border-style: solid;
}
.footer .social-container {
  width: 35px;
  height: 35px;
}
.footer .social-container i {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */